.footer {
    background: #22252D;

    &__logo {
        color: #b8b8b8
    }

    &__text {
        color: #b8b8b8
    }

    &__links {
        color: #b8b8b8
    }

    &__link {
        color: #b8b8b8
    }

    .footer-copyright {
        color: #4AD295;

        &__text {
            color: #4AD295;
        }
    }
}