<footer class="footer page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="footer__logo">Трубы.com</h5>
                <p class="footer__text">Информация о нас...</p>
                <p class="footer__text">Информация о нас...</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="footer__links">Links</h5>
                <ul>
                    <li><a class="footer__link" href="#!">Link 1</a></li>
                    <li><a class="footer__link" href="#!">Link 2</a></li>
                    <li><a class="footer__link" href="#!">Link 3</a></li>
                    <li><a class="footer__link" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="footer-copyright__text right" href="#!">More Links</a>
        </div>
    </div>
</footer>