{% extends 'base.html' %}

{% block content %}

<div class="pipe-detail">
    <div class="row">
        <div class="col s12">
            <div class="pipe-detail__item">
                <h3 class="pipe-detail__title">{{ pipe.title }}</h3>
                <div class="pipe-detail__images">
                    <div class="slider">
                        <ul class="slides">
                            {% for image in pipe.pipe_images.all %}
                            <li>
                                <img class="pipe-detail__image" src="{{ image.image.url }} " alt="">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="pipe-detail__content" style="color:white">
                    <div class="container">
                        <p class="pipe-detail__description">{{ pipe.description|safe }}</p>
                        {% if pipe.price == 0 %}
                            <p class="pipe-detail__price">цена: <i>договорная</i></p>
                        {% else %}
                            <p class="pipe-detail__price">цена: {{ pipe.price }} <span>Руб.</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}