{% extends 'base.html' %}

{% block content %}

<div class="pipe-list">
    <div class="container">
        <div class="pipe-list__items row">
            {% for pipe in pipes %}
            {% if pipe.is_active %}
            <a href="{{ pipe.get_absolute_url }}">
                <div class="col s12 m12 l6">
                    <div class="pipe-list__item card">
                        <h3 class="pipe-list__title card-title">{{ pipe.title }}</h3>
                        {% for image in pipe.pipe_images.all %}
                        {% if image.is_main %}
                        <img class="pipe-list__image" src="{{ image.image.url }} " alt="">
                        <div class="pipe-list__overlay">
                            <div class="pipe-list__overlay-text">Просмотреть</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% if pipe.price == 0 %}
                            <p class="pipe-list__price card-title">договорная</span></p>
                        {% else %}
                            <p class="pipe-list__price card-title">{{ pipe.price }} <span>Руб.</span></p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}